.titleOfSearchInput {
}

.inputSearch {
  width: 100%;
  height: 3rem;
  line-height: 40px;
  resize: none;
  border: solid 2px #ccc;
}

.containerInputSearch {
  margin: 0 auto;
  max-width: 900px;
}
